<ul class="nav">
  <li {% if page.path == "index.html" %} class="active"{% endif %}>
    <a href="/index.html">Home</a>
  </li>
  <li{% if page.path == "news.html" %} class="active"{% endif %}>
    <a href="/news.html">News</a>
  </li>
  <li{% if page.path == "bands.html" %} class="active"{% endif %}>
    <a href="/bands.html">Bands</a>
  </li>
  <li{% if page.path == "schedule.html" %} class="active"{% endif %}>
    <a href="/schedule.html">Schedule</a>
  </li>
  <li{% if page.path == "faq.html" %} class="active"{% endif %}>
    <a href="/faq.html">FAQ</a>
  </li>
  <li{% if page.path == "press.html" %} class="active"{% endif %}>
    <a href="/press.html">Press</a>
  </li>
</ul>
